.details{
    margin-top: 304px;
    margin-bottom: 4%;
    
}

.details input{
    margin: 5px;
    
}
.addstudent{
    font-size: 18px;
    margin-left: 11px;
    font-weight: 500;
    margin-bottom: 14px;
}

.buttonadd{
    margin-top: 5%;
    background-color: red;
    border-radius: 5px;
    display: inline;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    cursor: pointer;
}
